extends ../layout_main

block scripts
	script(type="text/javascript", src="/javascripts/view_crud.js")

block sidebar
	.sidebar(v-cloak :class="{ hide: !showSidebar }" transition="slide")
		.content(v-if="ready")
			.sidebar_section
				h2 Actions
				button.blue(@click="createNewBeer") New beer
				button(@click="beerFactory.saveAllBeers") Save all beers
			.sidebar_section
				.beer_list
					h2 Beers
					.beer_list_beer(
						v-bind:class="{ selected: selectedBeer == '' }"
						@click="selectedBeer = '', updateGridView()"
					) All
					.beer_list_beer(
						v-for="beer in beerFactory.beers"
						@click="selectedBeer = beer, updateGridView()"
						v-bind:class="{ selected: selectedBeer == beer }"
					) {{ beer.data.name }}
block sidebar-right
	.sidebar.right(v-cloak :class="{ hide: !showSidebarRight }" transition="slide")
		.content(v-if="ready")
			.sidebar_section
				h2 Actions
				.inner
					form(v-on:submit.prevent="addComponentToBeer")
						label Create new (on beer)
						select(name="component")
							option(v-for="bc_component in components_list") {{ bc_component.bc.name }}
						select(name="beer" value="{{ selectedBeer != '' && selectedBeer.data._id }}")
							option(
								v-for="beer in beerFactory.beers" 
								value="{{ beer.data._id }}"
								selected="{{ selectedBeer != '' && selectedBeer.data._id == beer.data._id }}"
							) {{ beer.data.name }}
						button.blue(type="submit") Add
					form(v-on:submit.prevent="addComponent")
						label Create new
						select(name="component")
							option(v-for="bc_component in components_list") {{ bc_component.bc.name }}
						button.blue(type="submit") Add
					button.blue(
						v-if="!hideUnrelated"
						@click="hideUnrelated = !hideUnrelated"
					) Hide unrelated
					button.blue(
						v-else
						@click="hideUnrelated = !hideUnrelated"
					) Show unrelated
			.sidebar_section
				h2 Components
				.inner
					.component-table(
						v-for="component in componentFactory.components"
						v-bind:class="{ 'unatatched': isComponentUnattached(component.data.beer_id), 'selected-child': selectedBeer != '' && selectedBeer.data._id == component.data.beer_id }"
						v-if="!hideUnrelated || (hideUnrelated && selectedBeer != '' && selectedBeer.data._id == component.data.beer_id)"
					)
						td
							table
								thead
									tr
										th(v-for="header in componentFactory.component_headers") {{ header }}
										th type
								tr
									td(v-for="header in componentFactory.component_headers")
										input.field(
											type="text", 
											v-model="component.data[header]" 
											v-on:change="component.edited = true"
										)
									td(colspan="2")
										select.field(
											v-model="component.data['type']" 
											v-on:change="component.edited = true"
										)
											option(v-for="bc_component in components_list" value="{{bc_component.bc.id }}") {{ bc_component.bc.name }}
								tr
									td.fixed_width_medium
										button.field(
											v-if="selectedBeer != '' && component.data.beer_id != selectedBeer.data._id"
											@click="component.data.beer_id = selectedBeer.data._id , component.save()"
										) Attach
									td.fixed_width_small
										button.field.blue(@click="duplicateComponent(component)") Duplicate
									td.fixed_width_small
										button.field(
											@click="component.save()"
											v-bind:class="{ inactive : !component.edited }"
										) Save
									td.red.fixed_width_small
										button.red.field(@click="confirm('delete?', component.delete, componentFactory.setupComponents)") X
block content
	.wrapper(
		v-cloak
		v-if="ready" 
		transition="fade"
	)
		.content_header
			.col.left
				.button(@click="showSidebar = !showSidebar" v-if="showSidebar") Hide beers
				.button(@click="showSidebar = !showSidebar" v-else) Show beers
			.col.center
				a.button.center(v-if="selectedBeer != ''" href="/beer/{{selectedBeer.data._id}}") Beer page
			.col.right
				.button.right(@click="showSidebarRight = !showSidebarRight" v-if="showSidebarRight") Hide components
				.button.right(@click="showSidebarRight = !showSidebarRight" v-else) Show components	
		.section
			h2(v-if="beerFactory.beers.length == 0") No beers
			.beers
				.beer-outer(
					v-for="beer in beerFactory.beers"
					v-bind:class="{ grid: selectedBeer == ''}"
					v-if="selectedBeer == beer || selectedBeer == ''"
				)
					.beer(
						v-bind:class="{ selected: selectedBeer == beer }"
					)
						a(@click="selectedBeer = beer")
							.header
								.background-image
								h2 {{ beer.data.name }} <span class='style'>{{ beer.data.style }}</span>
								.status_bar
									.status_icon(class='status_{{ beer.data.status }}')
									.status_text {{ beer_status[beer.data.status] }}
						.beer_section(v-if="selectedBeer != ''")
							.inner(v-for="header in beerFactory.beer_headers")
								.label {{ header }}
								input.field(
									type="text", 
									v-model="beer.data[header]" 
									@change="beer.edited = true"
									@keyup.enter="beer.save"
								)
							.inner
								.label Status
								select.field(
									v-model="beer.data.status" 
									@change="beer.edited = true"
									@keyup.enter="beer.save"
								)
									option(value=0) Idea
									option(value=1) Scheduled for brewing
									option(value=2) Brewing
									option(value=3) Conditioning
									option(value=4) Dry hopping
									option(value=5) On tap
						.beer_section(v-if="selectedBeer != ''")
							.label Components
							.components
								.component(
									v-for="component in componentFactory.components" 
									v-if="bc_options[component.data.type] && component.data.beer_id == beer.data._id" 
									)
									.component_label {{ bc_names[component.data.type] }}
										.button(@click="component.hidden = !component.hidden") {{ component.hidden ? 'show' : 'hide' }}
									.component-options(
										v-show="!component.hidden"
										transition="fade"
									)
										.component-option(
											v-for="option in bc_options[component.data.type]"
										) 
											label {{ option.name }}
											input.field(
												v-if="option.type == 'String'"  
												v-model="component.componentData[option.id]",
												type="text"
												v-on:change="component.edited = true"
											)
											select(
												v-if="option.type == 'Boolean'" 
												v-model="component.componentData[option.id]"
												v-on:change="component.edited = true"
											)
												option(value="False") False
												option(value="True") True
									.buttons
										button.red(@click="component.delete().then(componentFactory.setupComponents)") X
										button(
											@click="component.saveComponentData" 
											v-bind:class="{ inactive : !component.edited }"
										) Save
						.beer_section(v-if="selectedBeer != ''")
							button.large.red(@click="confirm('delete?', beer.delete, beerFactory.setupBeers)") X
							button.large(
								@click="beer.save" 
								v-bind:class="{ inactive : !beer.edited }"
							) Save			